<h2>Update warehouse <label>{{warehouseName}}</label></h2>
<form *ngIf="warehouse">
  <div class="form-group">
    <label for="name">Set new name:</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="warehouse.name"
      required
    />
  </div>
  <div class="form-group">
    <label for="location">Set new location:</label>
    <input
      type="text"
      class="form-control"
      id="location"
      name="location"
      [(ngModel)]="warehouse.location"
      required
    />
  </div>
  <button type="button" class="btn btn-primary" (click)="updateWarehouse()">
    Submit
  </button>
</form>
<p *ngIf="!warehouse">Fetching warehouse details...</p>
